<div class="contenedor row g-2 px-2">
    <div class="container-fluid" id="cont">
        <form>
            <h2 class="py-3">SIGN IN</h2>
            <div class="form-group px-4 pb-2">
                <input class="form-control" type="text" placeholder="Name">
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <input class="form-control" type="text" placeholder="Lastname">
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <input class="form-control" type="text" placeholder="E-mail">
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <input class="form-control" type="text" placeholder="Charge">
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <input class="form-control" type="password" name="password" id="password" placeholder="Passoword">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Account</button>
            </div>
            <br>
            <p>If you have an account, <a routerLink="">Login</a></p>
            <div>
            </div>
        </form>
    </div>
</div>
