<app-sidebar></app-sidebar>

<div class="contenedor">
    <table class="table table-striped">
        <thead>
          <h5>My Algorithms</h5>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>First Algorithm</td>
            <td> <button type="button" class="btn btn-primary">View</button></td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
          </tr>
          <tr>
            <td>Second Algorithm</td>
            <td> <button type="button" class="btn btn-primary">View</button></td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
          </tr>
          <tr>
            <td>Third Algorithm</td>
            <td> <button type="button" class="btn btn-primary">View</button></td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
          </tr>
        </tbody>
      </table>
    
</div>